{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books management website</title>
</head>
<body>
    {% block content %}
    <h3 class="font-semibold text-4xl text-amber-500 my-8 ml-8">All Books</h3>
    <div class="flex justify-center items-center mt-10 flex-col">
        <div class="container w-11/12 text-xl border rounded bg-amber-100 text-amber-800 p-8">
            {% if books %}
            <div class="grid grid-flow-col">
                <div class="w-full overflow-x-auto">
                    <table class="table-auto w-full border-collapse border border-amber-600 min-w-full">
                        <thead class="bg-amber-600 text-white">
                            <tr>
                                <th scope="col" class="border border-amber-500 px-4 py-2">ISBN</th>
                                <th scope="col" class="border border-amber-500 px-4 py-2">Book Name</th>
                                <th scope="col" class="border border-amber-500 px-4 py-2">Genre</th>
                                <th scope="col" class="border border-amber-500 px-4 py-2">Publication Date</th>
                                <th scope="col" class="border border-amber-500 px-4 py-2">Rating</th>
                                <th scope="col" class="border border-amber-500 px-4 py-2">More Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr class="bg-amber-50 hover:bg-orange-200">
                                <td class="border border-amber-500 px-4 py-2">{{ book.isbn }}</td>
                                <td class="border border-amber-500 px-4 py-2">{{ book.book_name }}</td>
                                <td class="border border-amber-500 px-4 py-2">{{ book.genre }}</td>
                                <td class="border border-amber-500 px-4 py-2">{{ book.publication_date }}</td>
                                <td class="border border-amber-500 px-4 py-2">{{ book.rating|default_if_none:"N/A" }}</td>
                                <td class="border border-amber-500 px-4">
                                    <!-- Modal Trigger Button (removed href) -->
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal{{book.id}}">
                                        <img src="{% static 'images/more-info.png' %}" alt="Info" class="h-8 w-8 ml-2 lg:ml-12">
                                    </button>
                        
                                    <!-- Modal -->
                                    <div id="myModal{{book.id}}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                        <div class="relative p-4 w-full max-w-2xl max-h-full">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow dark:bg-amber-700">
                                                <!-- Modal header -->
                                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-amber-600">
                                                    <h3 class="text-xl font-semibold text-amber-900 dark:text-white">
                                                        Book: {{ book.book_name }}
                                                    </h3>
                                                    <button type="button" class="text-amber-600 bg-transparent hover:bg-amber-200 hover:text-orange-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="myModal{{book.id}}">
                                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
                                                        </svg>
                                                        <span class="sr-only">Close modal</span>
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="p-4 md:p-5 space-y-6">
                                                    <ul>
                                                        <li>Book ISBN: {{ book.isbn }}</li>
                                                        <li>Book Title: {{ book.book_name }}</li>
                                                        <li>Book Genre: {{ book.genre }}</li>
                                                        <li>Book Author : {{book.author.full_name}}</li>
                                                        <li>Book Publication Date: {{ book.publication_date }}</li>
                                                        <li>Book Language: {{ book.language }}</li>
                                                        <li>Book Rating: {{ book.rating|default_if_none:"N/A" }}</li>
                                                        <li>Book Cover : <img src="{{ book.cover_image.url }}" alt="Cover image for {{ book.book_name }}" class="w-32 h-40 object-cover"></li>
                                                    </ul>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-amber-600">
                                                    <button data-modal-hide="myModal{{book.id}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-orange-700 focus:outline-none bg-white rounded-lg border border-orange-700 hover:bg-amber-100 hover:text-amber-800 focus:z-10 focus:ring-4 focus:ring-amber-100 dark:focus:ring-amber-700 dark:bg-orange-700 dark:text-amber-50 dark:border-orange-600 dark:hover:text-white dark:hover:bg-orange-700">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
            </div>
            {% else %}
            <p class="ml-8">No Books found!</p>
            {% endif %}
        </div>
    </div>    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const modalButtons = document.querySelectorAll('[data-bs-toggle="modal"]');
            
            modalButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = button.getAttribute('data-bs-target');
                    const modal = document.querySelector(modalId);
                    
                    modal.classList.remove('hidden');
                    modal.classList.add('flex');
                });
            });
    
            const closeButtons = document.querySelectorAll('[data-modal-hide]');
        
            closeButtons.forEach(button => {
                button.addEventListener('click', function() {
                   const modalId = `#${button.getAttribute('data-modal-hide')}`;
                   const modal = document.querySelector(modalId);
                
                   modal.classList.add('hidden');
                   modal.classList.remove('flex');
                });
            });
        });
    </script>
    {% endblock %}    
</body>
</html>